*{
margin : 0;
padding :0;
}
body {
    height: 100vh;
     width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
    /* background-color: aqua; */
}
.main_body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
#head{
    margin-left: 10px;
    margin-right: 10px;
    /* background-color: blueviolet; */
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 30rem;
}
#result{
     display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 10px;
    height: 15rem;
    /* background-color: antiquewhite; */
}
#credit{
    height: 50rem;
}
button {
    height: 40px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    border: solid black 1px;
}

input {
    height: 25px;
    width: 250px;
    outline: none;
    /* border: none; */

}
img{
    height: 75px;
    width: 75px;
}